<%= form_with(model: wlist) do |form| %>
  <% if wlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wlist.errors.count, "error") %> prohibited this wlist from being saved:</h2>

      <ul>
        <% wlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :wl_category, style: "display: block" %>
    <%= form.text_field :wl_category %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
